<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VideoLibraryManagement</title>
   <link type="text/css" rel="stylesheet" href="./css/bootstrap.css"/>
    
  </head>
<body>
</br>
<div class="container">
           
<div class="hero-unit">
<h1>Welcome</h1>
<div class="btn-large"><br/><br/>
<a href="/updateUserProfile" class = "btn btn-primary">Update Your Profile</a><br/><br/>
<a href="/listUserMovies" class = "btn btn-primary">Movies on you account</a><br/><br/>
<a href="/viewHistory" class = "btn btn-primary">View History</a><br/><br/>
</div>
</div>
</div>

</html>