<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VideoLibraryManagement</title>
   <link type="text/css" rel="stylesheet" href="./css/bootstrap.css"/>
    
  </head>
<body>
</br>
<div class="container">
           
<div class="hero-unit">
   

<h1>Video Library Management!!!</h1>

<pVideo store management made easier!</p>
</br></br><br/><br/><br/>
<div class="btn-large">
<a href="/viewCustomers" class = "btn btn-primary">View All Customers</a>
<a href="/viewPremiumCustomers" class = "btn btn-primary">Premium Customers</a>
<a href="/viewNormalCustomers" class = "btn btn-primary">Simple Customers</a>
<a href="/searchPersonInfo" class = "btn btn-primary">Search person info</a>
<a href="/createUser" class = "btn btn-primary">Create Customer</a>
<a href="/removeuser" class = "btn btn-primary">Delete Customers</a>
<a href="/changeCustomerInfo" class = "btn btn-primary">------Update Profile</a>
<a href="/viewAllHistory" class = "btn btn-primary">View Purchase History</a>
/// pay bill who
/// update user profile
<br/><br/><br/><br/>


<a href="/listMovies" class = "btn btn-primary">List and Issue Movies</a>
<a href="/viewMovieInfo/:movieId" class = "btn btn-primary">View Movie Info</a>
<a href="/addMovie" class = "btn btn-primary">Add Movies</a>
<a href="/deleteMovie" class = "btn btn-primary">Delete Movie</a>
<a href="/returnMovie" class = "btn btn-primary">Return Movie</a>
<a href="/updateMovie" class = "btn btn-primary">Update Movie</a>
<br/><br/><br/>

</div>

 </div>

<script src="../assets/js/bootstrap.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>

<br/><br/><br/><div><h3>Brought to you by team "Kai Fa!"</h3></div>
</body>
</div>

</html>